th {
    text-align:left;
}
button {
    border:2px ridge red;
}
div {
    overflow:auto;
}
a.bt:hover {
    border:2px groove red;
}
.compromissos {
     width:800;
     height:400;
     border:1px ridge blue;
     float:left;
}

.pendencias {
        width:240;
        height:400;
        border:1px ridge blue;
        margin-right:2px;
        float:right;
}

.notas {
    width:100%;
    height:400;
    border:1px ridge blue;
}

.fr_telefones {
         width:100%;
         height:400px;
         border:1px solid black;;
}
.tabs {
    border:1px solid red;
}
