
th {
    text-align:left;
}
input {
    width:100%;
    height:100%;
    border:1px solid blue;
}
.main {
    border:2px outset;
    width:700px;
    height:100%;
    float:right;
}
.busca {
    background-color:#ff3c3c;
    width:220px;
    height:95%;
    border:2px outset;
    float:left;
}
.resultado {
    width:100%;
    height:100%;
    border:1px solid black;
}
.resultado div 
{
 height:195px;
 border:none;
 overflow-y:auto;
}
.tbusca {
 width:100%;
 height:100%;
}
.mtable {
    height:50px;
}
.mtable th {
    background-color:#AAAAAA;
    color:white;
}
.tabs {
    width:690px;
    height:300px;
    border:1px solid red;
}
